{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type = 'text/css' href="{% static 'estate/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'estate/images/favicon2.ico' %}" />
    <title>RentMove</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="header">
                <div class="container">
                    <div class="header__row">
                        <div class="header__logo">
                            <a href="{% url 'main' %}"><img src="{% static '../static/estate/images/logo.png' %}"  alt="" class="header__icon"></a>
                        </div>
                        <div class="header__references">
                            <a href="{% url 'main' %}" class="header__link">Аренда</a>
                            <a href="{% url 'flats' %}" class="header__link">Квартиры</a>
                            <a href="{% url 'houses' %}" class="header__link">Дома</a>
                            <a href="{% url 'rooms' %}" class="header__link header__link_hidden">Комнаты</a>
                        </div>
                        <div class="header__button">
                            <a href="{% url 'favorite' %}"><img src="{% static '../static/estate/images/heart.png' %}" alt="" class="header__favorite header__heart"></a>
                        </div>
                        <div class="header__button">
                            <a href="{% url 'open_chat' %}"><img src="{% static '../static/estate/images/chat.png' %}" alt="" class="header__favorite header__chat"></a>
                        </div>
                        <div class="header__frame">
                            <a href="{% url 'add_post' %}" class="header__box header__showed">Добавить объявление</a>
                            <a href="{% url 'add_post' %}" class="header__box header__hidden">Добавить</a>
                            {% if not request.user.is_authenticated %}
                                <a href="{% url 'login' %}" class="header__box">Войти</a>
                            {% else %}
                                <a href="{% url 'account' %}" class="header__box">Кабинет</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

           <div class="reset">
                <div class="container">
                    <div class="reset__window">
                        <div class="reset__title">
                            Сообщение отправлено
                        </div>
                        <div class="reset__info">
                            Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.
                        </div>
                        <div class="reset__back">
                            <a href="{{request.META.HTTP_REFERER}}"><img src="{% static '../static/estate/images/back9.png' %}"  alt="" class="reset__icon"></a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer__section">
                    <div class="footer__logo">
                        <img src="{% static '../static/estate/images/logo.png' %}" alt="" class="header__icon">
                        <span class="copyright">@ Объявление.ру</span>
                    </div>
                    <div class="footer__links">
                        <a href="{% url 'contacts' %}" class="footer__href">Контакты</a>
                        <a href="{% url 'about' %}" class="footer__href">О нас</a>
                    </div>
                    <div class="footer__networks">
                        <a href="https://www.facebook.com/"><img src="{% static '../static/estate/images/facebook.png' %}" alt="" class="footer__network"></a>
                        <a href="https://www.instagram.com/"><img src="{% static '../static/estate/images/instagram.png' %}" alt="" class="footer__network"></a>
                        <a href="https://web.telegram.org/z/"><img src="{% static '../static/estate/images/telegram.png' %}" alt="" class="footer__network"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>